.skill.item {
  min-height: 100px;
  padding-top: 35px !important;
}
body {
  background-color: #333;
  text-align: center;
}
.grid {
  margin: 0 auto;
}
.bingo {
  padding: 0 !important;
}
h1 {
  color: rgba(255,255,255,0.8);
  font-size: 40px;
}
#desc {
  color: rgba(255,255,255,0.5);
}
